{
	"printWidth": 100,
	"singleQuote": false,
	"useTabs": true,
	"endOfLine": "lf",
	"quoteProps": "preserve",

	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindStylesheet": "./app/app.css",
	"tailwindFunctions": ["clsx"]
}
